Dreamcast/hw/Dreamdrivecast/Dreamdrivecast-backups/
Dreamcast/sw/esp32/dreamdrivecast/build
N64/sw/cart_tester/build
N64/hw/picocart64_v1_lite/picocart64_v1_lite-backups
N64/hw/picocart64_v2/picocart64_v2-backups
N64/hw/cart_tester/pc64/pc64-backups
Dreamcast/sw/rp2040/build
Dreamcast/hw/Dreamdrivecast-esp32/Dreamdrivecast-esp32-backups
freerouting.bin
freerouting.dsn
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1a/Dreamdrivecast-backups
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1a/Dreamdrivecast_v1a-backups
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1a/production
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1aa/Dreamdrivecast-backups
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1aa/Dreamdrivecast_v1a-backups
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1aa/Dreamdrivecast_v1aa-backups
Dreamcast/hw/Dreamdrivecast-v1a/Dreamdrivecast_v1aa/jlcpcb
~Dreamdrivecast_v1a.kicad_pcb.lck
#auto_saved_files#
_autosave-Dreamdrivecast_v1a.kicad_sch
~Dreamdrivecast_v1a.kicad_sch.lck
